<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="doris">
    <xacro:include filename="$(find patrolbot_description)/urdf/patrolbot_description.urdf" />
    <xacro:include filename="$(find doris_arm_description)/urdf/doris_arm_description.urdf.xacro" />
    <xacro:include filename="$(find doris_arm_description)/urdf/hand.xacro" />
    <xacro:include filename="$(find doris_dorso_description)/urdf/doris_dorso_description.urdf" />
    <!--xacro:include filename="$(find kinect2_description)/urdf/kinect2_description.urdf.xacro" /-->
    <xacro:include filename="$(find doris_head_description)/urdf/doris_head.urdf" />
    <xacro:include filename="$(find hector_sensors_description)/urdf/hokuyo_utm30lx.urdf.xacro" />
    <xacro:include filename="$(find hector_sensors_description)/urdf/kinect_camera.urdf.xacro" />
    <xacro:include filename="$(find hector_sensors_description)/urdf/realsense_d435_camera.urdf.xacro" />
    <xacro:include filename="$(find lms1xx)/urdf/sick_lms1xx.urdf.xacro" />
    <link name="base_footprint"></link>
    <joint name="base_joint" type="fixed">
        <child link="base_link" />
        <parent link="base_footprint" />
    </joint>
    <link name="gripper_ir_link"></link>
    <joint name="gripper_ir_joint" type="fixed">
        <child link="gripper_ir_link"/>
        <parent link="gripper_link"/>
        <origin xyz="0.02 0 -0.01" rpy="0 1.57 0"/>
    </joint>
    <link name="frontal_caster_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.1" />
            <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
        </inertial>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
        </collision>
    </link>
    <joint name="frontal_caster_joint" type="fixed">
        <parent link="base_link" />
        <child link="frontal_caster_link" />
        <origin xyz="0.2 0 0" rpy="0 0 0" />
    </joint>
    <link name="rear_caster_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.1" />
            <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
        </inertial>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
        </collision>
    </link>
    <joint name="rear_caster_joint" type="fixed">
        <parent link="base_link" />
        <child link="rear_caster_link" />
        <origin xyz="-0.2 0 0" rpy="0 0 0" />
    </joint>
    <!--
    <xacro:hand ns="doris" rpy="0 0 1.570" xyz="0 0 0.1" connected_to="roll_2_link" safety_distance="0.00" use_cylinder_collision_model="false" />
    -->
    <joint name="base_link_dorso" type="fixed">
        <parent link="base_link" />
        <child link="dorso_link" />
        <origin xyz="0 0 0.28" rpy="0 0 0" />
    </joint>
    <joint name="dorso_arm_base" type="prismatic">
        <parent link="dorso_link" />
        <child link="arm_base_link" />
        <origin xyz="0.20 0 0" rpy="0 0 0" />
        <axis xyz="0 0 1"/>
        <limit effort="2000.0" lower="0.02" upper="0.6" velocity="0.5"/>
        <dynamics damping="0.5" friction="0.1"/>
    </joint>
    <xacro:sick_lms1xx />
    <joint name="laser_joint" type="fixed">
        <origin xyz="0.222 0 -0.07" rpy="0 0 0" />
        <parent link="dorso_link" />
        <child link="laser" />
    </joint>
    <!--joint name="dorso_kinect" type="fixed">
        <parent link="dorso_link" />
        <child link="kinect_link" />
        <origin xyz="-0.18 0 0.01" rpy="0 ${3.1416/2} 3.1416" />
    </joint-->
    <!--xacro:sensor_kinect prefix="" name="kinect" parent="dorso_link" cam_px="-0.18" cam_py="0" cam_pz="0.01" cam_or="${-3.1416/2}" cam_op="0" cam_oy="${3.1416/2}"></xacro:sensor_kinect-->
    <xacro:kinect_camera name="kinect2" parent="dorso_link">
        <origin xyz="0.23 0 0.82" rpy="0 0.348 0" />
    </xacro:kinect_camera>
    <!--
    <xacro:realsense_d435_camera_with_mount name="realsense" parent="roll_2_link">
        <origin xyz="0 0.03 0.1" rpy="-1.570 -1.570 0" />
    </xacro:realsense_d435_camera_with_mount>
    -->
    <joint name="dorso_head" type="fixed">
        <parent link="dorso_link" />
        <child link="head_link" />
        <origin xyz="0 0 1.16" rpy="0 0 0" />
    </joint>
    <!--joint name="dorso_hokuyo" type="fixed">
        <parent link="dorso_link" />
        <child link="hokuyo_link" />
        <origin xyz="-0.25 -0.7 0.01" rpy="${3.1416/2} ${-3.1416/2} 3.1416" />
    </joint-->
    <xacro:hokuyo_utm30lx name="hokuyo" parent="base_link" ros_topic="scan2" update_rate="30" ray_count="500" min_angle="-90" max_angle="90">
        <origin xyz="0.32 0 0" rpy="3.14 0 0" />
    </xacro:hokuyo_utm30lx>
    <transmission name="trans_left_wheel_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_wheel_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_wheel_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_dorso_arm_base_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="dorso_arm_base">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="dorso_arm_linear_actuator">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_right_wheel_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_wheel_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_wheel_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_shoulder_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="shoulder_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="shoulder_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>5</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_forearm_shoulder_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="forearm_shoulder_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="forearm_shoulder_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>5</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_elbow_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="elbow_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="elbow_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>5</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_roll_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="roll_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="roll_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>5</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_yaw_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="yaw_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="yaw_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>5</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_roll_2_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="roll_2_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="roll_2_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>5</mechanicalReduction>
        </actuator>
    </transmission><!--
    <transmission name="trans_doris_finger_joint1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="doris_finger_joint1">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="doris_finger_joint1_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_doris_finger_joint2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="doris_finger_joint2">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="doris_finger_joint2_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>-->
    <transmission name="trans_left_finger_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_finger_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_finger_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>5</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_right_finger_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_finger_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_finger_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>5</mechanicalReduction>
        </actuator>
    </transmission>
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>
    <transmission name="trans_left_wheel_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_wheel_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_wheel_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_right_wheel_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_wheel_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_wheel_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">

            <!-- Plugin update rate in Hz -->
            <updateRate>50</updateRate>

            <!-- Name of left joint, defaults to `left_joint` -->
            <leftJoint>left_wheel_joint</leftJoint>

            <!-- Name of right joint, defaults to `right_joint` -->
            <rightJoint>right_wheel_joint</rightJoint>

            <!-- The distance from the center of one wheel to the other, in meters, defaults to 0.34 m -->
            <wheelSeparation>0.31</wheelSeparation>

            <!-- Diameter of the wheels, in meters, defaults to 0.15 m -->
            <wheelDiameter>0.2</wheelDiameter>

            <!-- Wheel acceleration, in rad/s^2, defaults to 0.0 rad/s^2 -->
            <wheelAcceleration>1.0</wheelAcceleration>

            <!-- Maximum torque which the wheels can produce, in Nm, defaults to 5 Nm -->
            <wheelTorque>20</wheelTorque>

            <!-- Topic to receive geometry_msgs/Twist message commands, defaults to `cmd_vel` -->
            <commandTopic>cmd_vel</commandTopic>

            <!-- Topic to publish nav_msgs/Odometry messages, defaults to `odom` -->
            <odometryTopic>odom</odometryTopic>

            <!-- Odometry frame, defaults to `odom` -->
            <odometryFrame>odom</odometryFrame>

            <!-- Robot frame to calculate odometry from, defaults to `base_footprint` -->
            <robotBaseFrame>base_footprint</robotBaseFrame>

            <!-- Odometry source, 0 for ENCODER, 1 for WORLD, defaults to WORLD -->
            <odometrySource>1</odometrySource>

            <!-- Set to true to publish transforms for the wheel links, defaults to false -->
            <publishWheelTF>false</publishWheelTF>

            <!-- Set to true to publish transforms for the odometry, defaults to true -->
            <publishOdom>true</publishOdom>

            <!-- Set to true to publish sensor_msgs/JointState on /joint_states for the wheel joints, defaults to false -->
            <publishWheelJointState>false</publishWheelJointState>

            <!-- Set to true to swap right and left wheels, defaults to true -->
            <legacyMode>false</legacyMode>
        </plugin>
    </gazebo>
    <material name="gray_material">
        <color rgba="0.5 0.5 0.5 1.0" />
    </material>
    <material name="black_material">
        <color rgba="0.1 0.1 0.1 1.0" />
    </material>
    <gazebo reference="base_link">
        <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="left_wheel_link">
        <material>Gazebo/DarkGray</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="right_wheel_link">
        <material>Gazebo/DarkGray</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="frontal_caster_link">
        <mu1>0.0001</mu1>
        <mu2>0.0001</mu2>
    </gazebo>
    <gazebo reference="rear_caster_link">
        <mu1>0.0001</mu1>
        <mu2>0.0001</mu2>
    </gazebo>
    <gazebo reference="dorso_link">
        <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="arm_base_link">
        <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="shoulder_link">
        <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="forearm_link">
        <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="elbow_link">
        <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="roll_link">
        <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="yaw_link">
        <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="roll_2_link">
        <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="gripper_link">
        <material>Gazebo/DarkGray</material>
        <mu1>10000.0</mu1>
        <mu2>100000.0</mu2>
        <min_depth>0.1</min_depth>
    </gazebo>
    <gazebo reference="left_finger_link">
        <material>Gazebo/Gray</material>
        <mu1>10000.0</mu1>
        <mu2>100000.0</mu2>
        <min_depth>0.1</min_depth>
    </gazebo>
    <gazebo reference="right_finger_link">
        <material>Gazebo/Gray</material>
        <mu1>10000.0</mu1>
        <mu2>100000.0</mu2>
        <min_depth>0.1</min_depth>
    </gazebo>
    <!--gazebo>
        <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
            <arm>
                <arm_name>arm</arm_name>
                <palm_link>roll_2_link</palm_link>
                <gripper_link>left_finger_link</gripper_link>
                <gripper_link>right_finger_link</gripper_link>
            </arm>
            <forces_angle_tolerance>100</forces_angle_tolerance>
            <update_rate>4</update_rate>
            <grip_count_threshold>4</grip_count_threshold>
            <max_grip_count>4</max_grip_count>
            <release_tolerance>0.005</release_tolerance>
            <disable_collisions_on_attach>false</disable_collisions_on_attach>
            <contact_topic>__default_topic__</contact_topic>
        </plugin>
    </gazeb-->
    <gazebo reference="gripper_ir_link">
        <sensor type="ray" name="ir_gripper">
            <pose>0 0 0 0 0 0</pose>
            <update_rate>50</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>1</samples>
                        <resolution>1.0</resolution>
                        <min_angle>-0.08</min_angle>
                        <max_angle>0.08</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.04</min_angle>
                        <max_angle>0.04</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.01</min>
                    <max>1.5</max>
                    <resolution>0.002</resolution>
                </range>
            </ray>
            <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
                <selfCollide>false</selfCollide>
                <alwaysOn>true</alwaysOn>
                <updateRate>5</updateRate>
                <topicName>/gripper/range</topicName>
                <frameName>ir_gripper</frameName>
                <visualize>false</visualize>
                <radiation>infrared</radiation>
                <fov>0.8</fov>
            </plugin>
        </sensor>
    </gazebo>
    <gazebo reference="left_finger_link">
        <sensor name="left_finger_bumper" type="contact">
            <selfCollide>false</selfCollide>
            <alwaysOn>true</alwaysOn>
            <updateRate>50.0</updateRate>
            <contact>
                <collision>left_finger_link_collision</collision>
            </contact>
            <plugin name="left_finger_ros_bumper_controller" filename="libgazebo_ros_bumper.so">   
                <bumperTopicName>/gripper/contact/left</bumperTopicName>
                <frameName>world</frameName>
            </plugin>
        </sensor>
    </gazebo>
    <gazebo reference="right_finger_link">
        <sensor name="right_finger_bumper" type="contact">
            <selfCollide>false</selfCollide>
            <alwaysOn>true</alwaysOn>
            <updateRate>50.0</updateRate>
            <contact>
                <collision>right_finger_link_collision</collision>
            </contact>
            <plugin name="right_finger_ros_bumper_controller" filename="libgazebo_ros_bumper.so">   
                <bumperTopicName>/gripper/contact/right</bumperTopicName>
                <frameName>world</frameName>
            </plugin>
        </sensor>
    </gazebo>
    <!--
    <gazebo reference="doris_hand">
        <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="doris_leftfinger">
        <material>Gazebo/Gray</material>
        <mu1>100.0</mu1>
        <mu2>100.0</mu2>
    </gazebo>
    <gazebo reference="doris_rightfinger">
        <material>Gazebo/Gray</material>
        <mu1>100.0</mu1>
        <mu2>100.0</mu2>
    </gazebo>-->
</robot>