<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="doris_dorso_description">
  <link name="dorso_link">
    <inertial>
      <origin xyz="-0.049721 -0.0015664 0.52098" rpy="0 0 0" />
      <mass value="5.8385" />
      <inertia ixx="0.23511" ixy="2.2795E-05" ixz="0.00021828" iyy="0.24015" iyz="2.7987E-05" izz="0.022627" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://doris_dorso_description/meshes/dorso_link.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://doris_dorso_description/meshes/dorso_link.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
</robot>