<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find doris_head_description)/config/head_controllers.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="head_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/doris_head" args="
    horizontal_neck_joint_position_controller 
    vertical_neck_joint_position_controller
    jaw_joint_position_controller 
    right_vertical_eyebrow_joint_position_controller 
    left_vertical_eyebrow_joint_position_controller 
    right_rotacional_eyebrow_joint_position_controller 
    left_rotacional_eyebrow_joint_position_controller 
    right_superior_eyelid_joint_position_controller 
    left_superior_eyelid_joint_position_controller 
    right_inferior_eyelid_joint_position_controller 
    left_inferior_eyelid_joint_position_controller 
    right_eye_horizontal_joint_position_controller 
    left_eye_horizontal_joint_position_controller 
    right_eye_vertical_joint_position_controller 
    left_eye_vertical_joint_position_controller  
    joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc 
  <node name="robot_head_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/doris_head/joint_states" />
  </node>-->

</launch>
